<!DOCTYPE html>
<html>
<head>
   <title>Add Student</title>
   <link type="text/css" rel="stylesheet" href="css/style.css">
   <link type="text/css" rel="stylesheet" href="css/add-student-style.css">
</head>
<body>
   <div id="wrapper">
       <div id="header">
            <h2>Book Management</h2>
       </div>   
       <div id="container">
            <h3>Add Book</h3>
            
            <form th:action="@{/books}" method="post">
            
                <table>
                   <tbody>
                     <tr>
                       <td><label>Name: </label></td>
                       <td><input type="text" name="name"/> </td>
                     </tr>
                     
                     <tr>
                       <td><label>Author: </label></td>
                       <td><input type="text" name="author"/> </td>
                     </tr>
                     
                     <tr>
                       <td><label>Publisher: </label></td>
                       <td><input type="text" name="publisher"/> </td>
                     </tr>
                     
                     <tr>
                       <td><label>Price: </label></td>
                       <td><input type="text" name="price"/> </td>
                     </tr>
                     
                      <tr>
                       <td><label></label></td>
                       <td><input type="submit" name="Save" class="save"/> </td>
                      </tr>
                     
                   </tbody>
                </table>
            </form>
       </div>
   </div>
</body>
</html>