<!DOCTYPE html>
<html>
<head>
	<title>Register Page - Book Web Aplication</title>
</head>
<body>
	
	<h2>Register Page</h2>
	<form th:action="@{/acessregister}" method="post">
		
		<div class="container1">
			<label for="username">Username: </label>
			<input type="text" name="username" required />
		</div>
		
		<div class="container2" style="margin-top: 30px;">
			<label for="password">Password: </label>
			<input type="password" name="password" required />
		</div>
		
		<div class="container3" style="margin-top: 30px;">
			<label for="pay_method">Pay_method: </label>
			<input type="text" name="pay_method" required />
		</div>
		
		<input type="hidden" name="role_id" value="1" />
		<tr>
                       <td><label></label></td>
                       <td><input type="submit" name="Save" class="save"/> </td>
                      </tr>
		
	</form>
</body>
</html>